body {
  padding: 1em;
  font-family: Sans-Serif;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}
