<form action="/users/signup" method="post">
  <div>
    <label for="username"> Username:
      <input name="username" id="username" value="<%= params[:username] %>"/>
    </label>
  </div>
  <div>
    <label for="password"> Password:
      <input type="password" id="password" name="password" />
    </label>
  </div>
    <div>
    <label for="password"> Confirm Password
      <input type="password" id="confirm_password" name="confirm_password" />
    </label>
  </div>
  <button type="submit">Sign Up</button>
</form>
