<h1>Quotes</h1>
<% if session[:quotes].empty? %>
  <p>No quotes yet...</p>
<% else %>
  <ul>
    <% session[:quotes].each do |quote| %>
    <li><%= quote %></li>
    <% end %>
  </ul>
<% end %>
<p><a href="/quote/new">Create New Quote</a></p>
<p>
  <% if signed_in? %>
    <form action="/user/signout" method="post">
      <button type="submit">Sign out</button>
    </form>
  <% else %>
    <a href="/user/signin">Sign In</a> | <a href="/user/new">Sign up </a>
  <% end %>
</p>
