<h1>Quotes</h1>
<% if session[:quotes].empty? %>
  <p>No quotes yet...</p>
<% else %>
  <ul>
    <% session[:quotes].each do |quote| %>
    <li><%= quote %></li>
    <% end %>
  </ul>
<% end %>
<p><a href="/quote/new">Create New Quote</a></p>
<p><a href="/user/signin">Sign In</a> | <a href="/user/new">Sign up </a>
