<form action="/quote/new" method="post">
  <p>
    <label for="quote">Quote</label>
    <textarea name="quote" placeholder="" type ="textbox" cols="40  " rows="3" value=""></textarea>
  </p>
  <p>
    <label for="author">Author</label>
    <input name="author" placeholder="" type ="text" value="">
  </p>
  <button type="submit">Create Quote</button>
</form>
