<h1>Sign In</h1>
<form action="/user/signin" method="post">
  <p>
    <label for="username">Username</label>
    <input name="username" placeholder="" type ="text" value="">
  </p>
  <p>
    <label for="password">Password</label>
    <input name="password" placeholder="" type ="password" value="">
  </p>
  <button type="submit">Sign in</button>
</form>
